<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My first Flask app</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome for my site</h1>
        </header>
        <main>
            <section class="intro">
                <p>
                    Это моё первой приложение Flask. И еще целая куча текста ...
                </p>
            </section>
            <section class="image">
                <img src="../static/images/fon.webp" alt="Welcome_image" class="welcome-image">
            </section>

        </main>
        <footer>
            <p>2025 My first Flask app. Все права защищены.</p>
        </footer>
    </div>
</body>
</html>